<div class="container">
  <h1>
    {{title}}
  </h1>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
    <div class="form-group">
      <label for="cstName">{{custName_label}}</label>
      <input type="text" id="cstName" formControlName="cstName" class="form-control" />

    </div>

    <div class="form-group">
      <label for="cstEmail">{{custEmail_label}}</label>
      <input type="email" id="cstEmail" formControlName="cstEmail" class="form-control"/>
      
    </div>

    <div class="form-group">
      <label for="dob">{{dob_label}}</label>
      <input type="date" id="cstDob" formControlName="cstDob" class="form-control" placeholder="yyyy-mm-dd"/>
    </div>

    <div class="form-group" formArrayName="ordersList">
      <div>
        <label for="cstaddItems">{{addItems_label}}</label>
        <span style="cursor:pointer" class="plus" (click)="addItems()">+</span>
      </div>
      <!--<div *ngFor="let product of products; let id=index">-->
      <div *ngFor="let order of myForm.controls.ordersList.controls; let i= index">
        <div class="form-group" [formGroupName]="i">
          <product-detail [group]="myForm.controls.ordersList.controls[i]"></product-detail>
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="!myForm.valid" class="btn btn-success">Save</button>
  </form>
</div>
